<div class="about-hero">
    <div class="container-fluid hero">
          <h1 id="hero-title">Our story</h1>
    </div>

    <div class="container content">
          <p>CEBU STEEL CORPORATION a steel bar manufacturer located in Barrio Balud, San Fernando, Cebu. It's only 29 kms from Cebu City.</p>

          <p>The company was established to meet the growing demand of contractors and developers for quality steel bars in the region at FACTORY PRICES.</p>

          <p id="blockquote">Built on strength.</p>

          <p>Its proximity allows for easier accessibility and prompt delivery to various projects in the Visayas and Mindanao area.</p>
    </div>
</div>