form label, textarea {
    font-family: "Larsseit";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control {
    box-shadow: none !important
}

form input, textarea {
    border-radius: 0% !important;
}

form input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #000 !important;
}


/* UNIVERSAL? */
.kristan-care {
    padding-top: 8%;
}
.hero {
    height: 400px;
    background: #f7f6f2;
    position: relative;
    text-align: center;
}
#hero-title {
    position: absolute;
    font-family: "Playfair Display";
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content {
    /* margin: 50px 0; */
    /* width: 65% !important; */
    margin: auto;
    width: 50%;
    padding: 10px;
}
.add-prod {
    margin: 50px 0;
}

.add-prod a {
    padding: 20px 40px;
    background: #000;
    font-weight: 300;
    letter-spacing: 4px;
    color: #fff !important;
    text-decoration: none;
}

.add-prod a:hover {
    text-decoration: none;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
