<div class="container-fluid footer">
    <div class="section container">
          <footer>
                <div class="row">
                      <div class="col-lg-3 block">
                            <p>Plaridel Street,
                            <br>
                            Cebu City, 6000,
                            <br>
                            Cebu</p>
                      </div>
                      <div class="col-lg-3 block">
                            <p>FAQs
                            <br>
                            Return Policy
                            <br>
                            Shipping</p>
                      </div>
                      <div class="col-lg-3 block">
                            <p>Careers
                            <br>
                            Community
                            <br>
                            Wholesale</p>
                      </div>
                      <div class="col-lg-3 block">
                            <div class="media">
                                  <ul class="noul">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                  </ul>
                            </div>
                      </div>
                </div>
          </footer>
    </div>
</div>