<div class="container-fluid footer">
    <div class="section container">
          <footer>
                <div class="row">
                      <div class="col-lg-3 block">
                        <p>
                              <a>
                                    HELP
                              </a>
                            <br>
                              <a [routerLink]="['/contact']" class="kristancolor-black">
                              Contact Us
                              </a>
                            <br>
                              <a [routerLink]="['/privacy-policy']" class="kristancolor-black">
                              Privacy Policy
                              </a>
                            <br>
                              <a [routerLink]="['/terms-conditions']" class="kristancolor-black">
                              Terms of Use 
                              </a>
                        </p>
                      </div>
                      <div class="col-lg-3 block">
                            <p>FAQs
                            <br>
                            Return Policy
                            <br>
                            Shipping</p>
                      </div>
                      <div class="col-lg-3 block">
                        <p>
                              <a>
                                    ABOUT
                              </a>
                            <br>
                              <a [routerLink]="['/about']" class="kristancolor-black">
                              Our Story
                              </a>
                        </p>
                      </div>
                      <div class="col-lg-3 block">
                            <div class="media">
                                  <ul class="noul">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                  </ul>
                            </div>
                      </div>
                </div>
          </footer>
    </div>
</div>