<!-- PRODUCT STARTS HERE -->

<div class="container-fluid">
    <div class="row product-sec">
          <div class="col-lg-6 prod-left">
                <div class="hero-image">
                      <img src="images/hero.jpg" class="img wow fadeInUp" alt="">
                </div>
          </div>

          <div class="col-lg-6 prod-right">
                <div class="prod-opt">
                      <h3 id="prod-name">Daily Planner 2018/19</h3>
                      <p id="price">USD $30.00</p>

                      <!-- <div class="input-row"> -->
                            <div class="size">
                                  <p class="label">Grade:</p>
                                  <ul>     
                                    <li class="selected">S</li>   
                                    <li>M</li> 
                                    <li>L</li>   
                                  </ul>
                              </div>
                              <div class="size">
                                <p class="label">Size:</p>
                                <ul>     
                                  <li class="selected">S</li>   
                                  <li>M</li> 
                                  <li>L</li>   
                                </ul>
                            </div>
                            <div class="size">
                                <p class="label">Length:</p>
                                <ul>     
                                  <li class="selected">S</li>   
                                  <li>M</li> 
                                  <li>L</li>   
                                </ul>
                            </div>
                      <!-- </div> -->

                      <br>

                      <div class="add-prod wow fadeInUp" data-wow-delay="1.1s">
                            <a href="#">Add to Quote</a>
                      </div>
                </div>
          </div>
    </div>
</div>

<!-- PRODUCT ENDS HERE -->