.product-sec {
    padding-top: 60px;
    height: 100vh;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media(max-width: 900px) {
    .product-sec {
          margin-bottom: 140px;
          border-bottom: none !important;
    }
}

.prod-left {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.prod-opt {
    position: absolute;
    top: 20%;
    left: 20%;
}

#prod-name {
    font-family: "Playfair Display";
}

.prod-opt #price {
    padding: 16px 0;
}

.input-helper {
    position: relative;
    display: inline-block;
    font-family: "Larsseit";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
}

.input-helper:before {
    content: '';
    display: block;
    position: absolute;
}

.input-helper--radio {
    padding-left: 18px;
}

.input-helper--radio:before {
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #222;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label:before {
    background: #222;
}

.product-sec ::placeholder, input {
    font-family: "Larsseit";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.product-sec input {
    width: 130px;
}

@media(max-width: 900px) {
    .product-sec .hero-image {
          margin-top: 50%;
          display: block !important;
          height: 100vh;
    }

    /* .prod-opt {
          padding-top: 300px;
    } */
}

.add-prod {
    margin: 50px 0;
}

.add-prod a {
    padding: 20px 40px;
    background: #000;
    font-weight: 300;
    letter-spacing: 4px;
    color: #fff !important;
    text-decoration: none;
}

.add-prod a:hover {
    text-decoration: none;
}

.size {
    display: flex;
    align-items: center;
    height: 60px;
    
  }
p.label {
    color: #5f6668;
    font-size: 1.25rem;
    margin: 0;
    width: 125px;
}
.size ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.size ul li {
    margin-right: 24px;
    cursor: pointer;
  }
.size ul li:last-child {
    margin-right: 0px;
    cursor: pointer;
  }
.size ul .selected {
    color: white;
    position: relative;
  }
.size ul .selected:after {
    content: "";
    position: absolute;
    background: #051923;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* img */

  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
}

/* quantity */


  /* .button-container:hover .hollow {
    background: #051923;
    color: white;
  } */

  /* .button-container button:last-child {
    margin-right: 0px;
  } */
  
  .hollow {
    background: transparent;
    border: 3px solid #051923;
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

/* quantity */

  /* .quantity {
    display: flex;
    align-items: center;
    height: 60px;
    
  }
  .quantity ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .quantity ul li {
    margin-right: 24px;
    cursor: pointer;
  }
  .quantity ul li:last-child {
    margin-right: 0px;
    cursor: pointer;
  }
  .quantity ul .selected {
    color: white;
    position: relative;
  }
  .quantity ul .selected:after {
    content: "";
    position: absolute;
    background: #051923;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .flex-center-align {
    display: flex;
    align-items: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.black {
    background-color: #051923!important;
}
.white {
    background-color: #051923!important;
    float: right!important;
}
.kristan {
    display: flex;
}
.quantity {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 32px;
  }
.quantity button {
    padding: 16px 24px;
    margin-right: 24px;
    margin-left: 24px;
    /* background-color: #051923!important; */
}
.button-container {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    z-index: 100;
  }
.button-container button {
    padding: 16px 24px;
    margin-right: 24px;
    border-radius: 50px;
    flex: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Lato;
    cursor: pointer;
  }