<div class="kristancontainer">
    <div class="item">
        <div class="text-div">
            <h3>Deformed Bar</h3>
        </div>
       <div class="image-div">
        <img src="assets/img/deformed-bar.jpg" class="kristanimg"> 
       </div>    
    </div>
    <div class="item i2">
        <div *ngIf="product; else nodata">
            <h3 id="prod-name">{{product.name}}</h3>
            <p id="price">{{product.price | currency:"PHP "}}</p>
        </div>
        <ng-template #nodata>
            <div>
                <h3 id="prod-name">Select GRADE, LENGTH and DIAMETER</h3> <br>
                <p id="price">To view the price</p>
           </div>
         </ng-template>
                <div class="size">
                      <p class="label">Grade:</p><p class="short">Grd:</p>
                      <ul>     
                        <li *ngFor="let grade of grades"
                        [class.selected]="grade === selectedGrade"
                        (click)="onSelect(grade)">{{grade.name}}</li>     
                      </ul>
                </div>
                <div class="size">
                    <p class="label">Length:</p><p class="short">Len:</p>
                    <ul>     
                        <li *ngFor="let length of lengths"
                        [class.selected]="length === selectedLength"
                        (click)="onSelect2(length)">{{length.name}}</li>     
                      </ul>
                </div>
                <div class="size">
                    <p class="label">Diameter:</p><p class="short">Dia:</p>
                    <ul>
                        <li *ngFor="let diameter of diameters; trackBy: trackById"
                        [class.selected]="diameter === selectedDiameter"
                        (click)="onSelect3(diameter)">{{diameter.name}}</li>     
                    </ul>
                </div>
          <br>
          <div >
                <div *ngIf="quantity; else noquantity" class="quantity">
                    <button (click)="removeToCart()" class="btn btn-secondary">-</button>
                    <h1>{{quantity}}</h1>
                    <button (click)="addToCart()" class="btn btn-secondary">+</button>
                </div>
                <ng-template #noquantity>
                    <div class="button-container">
                        <button (click)="addToCart()" class="btn btn-dark btn-kristan">Add to Cart</button>
                    </div>
                </ng-template>
          </div>
    </div>

</div>