.product-sec {
    padding-top: 60px;
    height: 100vh;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media(max-width: 900px) {
    .product-sec {
          margin-bottom: 140px;
          border-bottom: none !important;
    }
}

.prod-left {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.prod-opt {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#prod-name {
    font-family: "Playfair Display";
}

.prod-opt #price {
    padding: 16px 0;
}

.input-helper {
    position: relative;
    display: inline-block;
    font-family: "Larsseit";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
}

.input-helper:before {
    content: '';
    display: block;
    position: absolute;
}

.input-helper--radio {
    padding-left: 18px;
}

.input-helper--radio:before {
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #222;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label:before {
    background: #222;
}

.product-sec ::placeholder, input {
    font-family: "Larsseit";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.product-sec input {
    width: 130px;
}

@media(max-width: 900px) {
    .product-sec .hero-image {
          margin-top: 50%;
          display: block !important;
          height: 100vh;
    }

    .prod-opt {
          padding-top: 300px;
    }
}

.add-prod {
    margin: 50px 0;
}

.add-prod a {
    padding: 20px 40px;
    background: #000;
    font-weight: 300;
    letter-spacing: 4px;
    color: #fff !important;
    text-decoration: none;
}

.add-prod a:hover {
    text-decoration: none;
}
