<div class="hero-section">
    <div class="container-fluid">
          <div class="row">
                <div class="col-lg-6 hero-left">
                      <div class="tagline">
                            <p>Useful tools to stimulate <br> planning, productivity and <br> creativity.</p>
                      </div>

                      <div class="shipping">
                            <p>Complimentary ground shipping on U.S. orders $30+</p>
                      </div>
                </div>

                <div class="col-lg-6 hero-right">
                      <div class="hero-image">
                            <img src="assets/img/hero.jpg" class="img" alt="">
                            <!-- <img src="assets/img/deformed-bar.jpg" class="img"> -->
                      </div>
                </div>
          </div>
    </div>
</div>
<div class="row prod-sec">
      <div class="col-lg-6 prod-img">
            <img src="assets/img/single-prod.jpg" alt="">
      </div>

      <div class="col-lg-4 prod-desc">
            <br><br>
            <p>The way to get started is to quit talking and begin doing. Get started with our tools and boost your productivity.</p>

            <div class="link wow fadeInUp">
                  <a href="shop.html">shop now </a>
            </div>
      </div>
</div>