<div class="row hero-section">     
                <div class="col-lg-6 hero-left">
                      <div class="tagline">
                            <!-- <p>Useful tools to stimulate <br> planning, productivity and <br> creativity.</p> -->
                            <p>To provide quality steel products <br> and contribute to the economic development <br> of the region.</p>
                      </div>
                </div>

                <div class="col-lg-6 hero-right">
                      <div class="hero-image">
                            <img src="assets/img/steel.jpg" class="img" alt="">
                            <!-- <img src="assets/img/deformed-bar.jpg" class="img"> -->
                      </div>
                </div>
      
</div>
<div class="row prod-sec">
      <div class="col-lg-6 prod-img">
            <img src="assets/img/rebar.jpg" alt="">
      </div>

      <div class="col-lg-4 prod-desc">
            <br><br>
            <!-- <p>The way to get started is to quit talking and begin doing. Get started with our tools and boost your productivity.</p> -->
            <p>Reinforcing bars from CEBU STEEL CORPORATION are manufactured using only pretested raw materials from very reliable suppliers worldwide.</p>

            <div class="link">
                  <a [routerLink]="['shop']">Go to Quote </a>
            </div>
      </div>
</div>